asn1crypto==0.24.0
awscli==1.16.120
backports.functools-lru-cache==1.5
botocore==1.12.110
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
colorama==0.3.9
cryptography==2.6.1
cycler==0.10.0
docutils==0.14
enum34==1.1.6
Flask==1.0.2
future==0.17.1
futures==3.2.0
idna==2.8
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.4
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==2.2.3
numpy==1.16.1
pyasn1==0.4.5
pycparser==2.18
pyOpenSSL==19.0.0
pyparsing==2.3.1
pyspotify==2.0.5
python-dateutil==2.8.0
pytz==2018.9
PyYAML>=4.2b1
requests==2.21.0
rsa==3.4.2
s3transfer==0.2.0
six==1.12.0
subprocess32==3.5.3
swpag-client==0.3.7
urllib3==1.24.1
Werkzeug==0.15.3
